body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}
button {
    padding: 10px 20px;
    background-color: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

